<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.linesoft.open2share">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/open2share_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/open2share_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".GuideActivity"
            android:parentActivityName=".SettingsActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            >
        </activity>

        <activity-alias
            android:enabled="true"
            android:targetActivity = ".StartActivity"
            android:name="unhide_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:targetActivity = ".StartActivity"
            android:name="hide_icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="linesoft_abc"
                    android:scheme="top.linesoft.open2share.abc" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ReceiveOpenActivity">
            <intent-filter
                android:label="转换为分享文件"
                tools:ignore="AppLinkUrlError"
                android:excludeFromRecents="true" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
    </application>

</manifest>